.cursor,
.follow {
    z-index: 1000;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    position: fixed;
}

.cursor {
    width: 20px;
    height: 20px;
    background: yellow;
    /* box-shadow:  0px 4px 25px 0px rgba(191, 191, 191, 0.50); */
    z-index: 99;
}

/* .follow {
    width: var(--dot-size);
    height: var(--dot-size);
    background: yellow;
    transform: scale(0.75);
    z-index: 98;
} */
