.cursor {
    z-index: 1000;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
    transform: scale(0.75) translate3d(0, 0, 0);
    position: fixed;
    will-change: transform;
    width: var(--dot-size);
    height: var(--dot-size);
    background: var(--cursor-colour);
    z-index: 999;
    visibility: hidden;
}