.footer {
    position: absolute;
    width: calc(100% - (var(--padding)) * 2);
    margin: var(--padding);
    bottom: 0;
    z-index: 99;
    display: grid;
    grid-template-columns: var(--nav-layout);
}

.left {
    width: max-content;
}

.right {
    justify-self: flex-end;
    width: max-content;
}

.left > a, .right > a {
    color: var(--title-colour);
    text-transform: uppercase;
}

.italics {
    font-family: var(--font-family-italic);
}
