.footer {
    position: absolute;
    width: calc(100% - (var(--padding)) * 2);
    margin: var(--padding);
    bottom: 0;
    z-index: 99;
    display: grid;
    grid-template-columns: var(--nav-columns);
    text-transform: uppercase;
}

.left {
    width: max-content;
}

.right {
    justify-self: flex-end;
    width: max-content;
}