/*----------------------------------------
Variables
----------------------------------------*/

:root {
    --one-column: 1fr;
    --two-column-alt: 1fr 0.4fr;
    --two-column: 1fr 1fr;
    --three-column: 1fr 1fr 0.3fr;
    --four-column-alt: 0.7fr 0.5fr 0.5fr 0.2fr;
    --four-column: 0.7fr 0.3fr 1fr 0.3fr;
    --five-column: 0.7fr 0.3fr 0.7fr 0.3fr 0.3fr;

    --padding: 15px;
    --thumbnail-padding: 20px;

    --font-size: 0.9rem;
    --line-height: 100%;


    --column-gap: 40px;

    --cursor-colour: rgba(0, 0, 0, 0);
    --illustration-colour: rgba(0, 0, 0, 0);
    --print-colour: rgba(0, 0, 0, 0);
    --exhibition-colour: rgba(0, 0, 0, 0);
    --publication-colour: rgba(0, 0, 0, 0);
}

/*----------------------------------------
Main
----------------------------------------*/

* {
    box-sizing: border-box;
}

html body {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    font-family: replica;
    font-size: var(--font-size);
    line-height: var(--line-height);
    /* cursor: none; */

}

/*----------------------------------------
Typography
----------------------------------------*/

@font-face {
  font-family: "Replica";
  src: url("../fonts/replica/replica_regular.woff2") format("woff2"),
       url("../fonts/replica/replica_regular.woff") format("woff");
}

@font-face {
  font-family: "Bradford";
  src: url("../fonts/bradford/bradford_regular.otf") format("opentype");
}


p {
    white-space: pre-wrap;
}

.times {
    font-family: times;
    font-size: var(--font-size-times);
    line-height: var(--line-height);
}

a {
    width: max-content;
    color: #000000;
    text-decoration: underline;
    transition: 0.5s;
}

a:visited,
a:active {
    color: #000000;
}

a:hover {
    color: #ffffff;
}

.thumbnail {
    width: 10vw;
}