/*----------------------------------------
Breakpoints
----------------------------------------*/
/* Tiny Screen */
@media only screen and (max-width: 349px) {
    :root {
        --font-size: 1.9rem;
        --font-size-medium: 1rem;
        --font-size-small: 0.85rem;
        --description-width: 90%;

        --padding: 15px;
        --nav-columns: 1fr 1fr;
        --column-gap: 40px;
        --dot-size: 15px;

        --cv-left-position: relative;
        --cv-left-height: 100%;
        --cv-left-width: 100%;
        --cv-right-width: 100%;
        --cv-right-offset: 60%;
        --cv-right-padding: calc(var(--padding) * 1);
        --cv-image-width: 80%;
    }
}

/* Small Screen */
@media only screen and (min-width: 350px) {
    :root {
        --font-size: 2.2rem;
        --font-size-medium: 1rem;
        --font-size-small: 0.85rem;
        --description-width: 90%;

        --padding: 15px;
        --nav-columns: 1fr 1fr;
        --column-gap: 40px;
        --dot-size: 15px;

        --cv-left-position: relative;
        --cv-left-height: 100%;
        --cv-left-width: 100%;
        --cv-right-width: 100%;
        --cv-right-offset: 60%;
        --cv-right-padding: calc(var(--padding) * 1);
        --cv-image-width: 80%;
    }
}

/* Medium Screen */
@media only screen and (min-width: 400px) {
    :root {
        --font-size: 2.5rem;
        --font-size-medium: 1.2rem;
        --font-size-small: 0.9rem;
        --description-width: 75%;

        --padding: 20px;
        --nav-columns: 1fr 1fr;
        --column-gap: 40px;
        --dot-size: 25px;

        --cv-left-position: fixed;
        --cv-left-height: 100%;
        --cv-left-width: 50%;
        --cv-right-width: 50%;
        --cv-right-offset: calc(var(--padding) * 8);
        --cv-right-padding: calc(var(--padding) * 4);
        --cv-image-width: 80%;
    }
}

/* Large Screen */
@media only screen and (min-width: 800px) {
    :root {
        --font-size: 2.5rem;
        --font-size-medium: 1.2rem;
        --font-size-small: 0.9rem;
        --description-width: 50%;

        --padding: 20px;
        --nav-columns: 1fr 1fr;
        --column-gap: 40px;
        --dot-size: 25px;

        --cv-left-position: fixed;
        --cv-left-height: calc(100% - (var(--padding) * 5));
        --cv-left-width: 50%;
        --cv-right-width: 50%;
        --cv-right-offset: calc(var(--padding) * 4);
        --cv-right-padding: calc(var(--padding) * 4);
        --cv-image-width: 80%;
    }
}

/*----------------------------------------
Variables
----------------------------------------*/

:root {
    --font-family: suisse-regular;
    --line-height: 120%;

    --background-colour: #ffffff;
    --cursor-colour: #ff0000;
    --highlight-colour: #ff0000;
    --title-colour: #d63af9;
    --illustration-colour: #dee8f6;
    --print-colour: #c0e1bd;
    --exhibition-colour: #966a42;
    --publication-colour: #0d5bc9;
}

/*----------------------------------------
Main
----------------------------------------*/

* {
    box-sizing: border-box;
    cursor: none;
}

html body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    background: var(--background-colour);
}

/*----------------------------------------
Typography
----------------------------------------*/

@font-face {
    font-family: "suisse-regular";
    src: url("../fonts/suisse-regular.woff2") format("woff2"),
        url("../fonts/suisse-regular.woff") format("woff");
}

a {
    width: max-content;
    height: max-content;
    color: var(--title-colour);
    text-decoration: none;
    text-underline-offset: 1px;
    cursor: none;
}

a:visited {
    color: var(--title-colour);
}

@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--highlight-colour);
    }
}

a:active {
    color: var(--title-colour);
}
