/*----------------------------------------
Variables
----------------------------------------*/

:root {
    --header-layout: 0.5fr 1fr 0.5fr;

    --padding: 1.1rem;

    --font-family: bradford;
    --font-family-italic: bradford_italic;
    --font-size: 1.1rem;
    --small-font-size: 0.9rem;
    --arrow-size: 0.4rem;
    --line-height: 1.3rem;

    --column-gap: 40px;

    --dot-size: 25px;

    --description-width: 40%;

    --cursor-colour: rgba(0, 0, 0, 0);
    --highlight-colour: rgba(0, 0, 0, 0);
    --illustration-colour: rgba(0, 0, 0, 0);
    --print-colour: rgba(0, 0, 0, 0);
    --exhibition-colour: rgba(0, 0, 0, 0);
    --publication-colour: rgba(0, 0, 0, 0);
}

/*----------------------------------------
Main
----------------------------------------*/

* {
    box-sizing: border-box;
}

html body {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    cursor: none;
}

/*----------------------------------------
Typography
----------------------------------------*/

@font-face {
    font-family: "bradford";
    src: url("../fonts/bradford/bradford_regular.otf") format("opentype");
}

@font-face {
    font-family: "bradford_italic";
    src: url("../fonts/bradford/bradford_italic.otf") format("opentype");
}

@font-face {
    font-family: "Academica";
    src: url("../fonts/academica/AcademicaLight.otf") format("opentype");
}

a {
    color: #000000;
    text-decoration: none;
    text-underline-offset: 1px;
    cursor: none;
}

a:visited,
a:active {
    color: #000000;
}