.main {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: var(--padding);
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: var(--padding);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-small);
    line-height: var(--line-height);
}

.text {
    width: 50%;
    max-width: 500px;
    z-index: 99;
}