.main {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.main > div {
    height: 100vh;
}

.swiper {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: var(--padding);
    text-align: center;
    font-family: bradford;
    font-size: var(--small-font-size);
    line-height: 100%;
}

.arrow {
    font-size: var(--arrow-size);
}

/* .slider {
    height: 100vh;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;
    position: absolute;
    top: 0;
    padding: var(--padding);
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;

    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
}

.item {
    scroll-snap-align: center;
    flex-shrink: 0;
    margin: 100px;
}

.spacer {
    width: 1px;
    height: 1px;
    margin: 1px;
} */

/* .xs {
    width: 10%;
}

.s {
    width: 15%;
}

.m {
    width: 20%;
}

.l {
    width: 25%;
}

.xl {
    width: 30%;
} */
