.thumbnail {
    position: absolute;
    width: var(--thumbnail-width);
    height: auto;
    margin: 0;
    will-change: transform;
    cursor: none;
}

.thumbnailContainer {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.thumbnailContainer::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: 0 8px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: opacity 0.15s ease-in-out;
}

.thumbnail:hover > .thumbnailContainer::after {
    opacity: 1;
}

.tagsContainer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
