.footer {
    position: fixed;
    width: calc(100% - (var(--padding)) * 2);
    bottom: 0;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: 0;
    z-index: 99;

    visibility: hidden;
}

.bio {
    display: grid;
    grid-row-gap: var(--plus-padding);
    grid-template-columns: var(--bio-column);
    grid-auto-rows: var(--row-height);
    cursor: crosshair;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
}

.dob {
    justify-self: var(--justify);
}

.plus {
    width: max-content;
    height: max-content;
    display: inline-block;
    transform: rotate(45deg);
}

.about {
    width: 100%;
    height: 0;
}

.section {
    width: 100%;
    margin-bottom: var(--padding);
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: var(--row-column);
}

.subtitle {
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
    font-size: var(--subtitle);
}

.contact {
    width: 100%;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: var(--four-column);
    padding-top: var(--padding);
}

.type,
.location {
    display: var(--visibility)
}

.date {
    justify-self: var(--justify);
}