tr {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: var(--row-padding);
    visibility: hidden;
}

tr:last-of-type {
    margin-bottom: calc(var(--padding) * 3);
}

td {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.project {
    display: grid;
    grid-template-columns: var(--project-column);
    grid-auto-rows: var(--row-height);
    user-select: none;
    z-index: 99;
    cursor: crosshair;
}

.title {
    display: flex;
}

.location {
    display: var(--visibility);
}

.date {
    justify-self: var(--justify);
}

.wrapper {
    display: none;
    width: 100%;
    grid-column: 1/-1;
}

.cross {
    visibility: hidden;
    width: max-content;
    height: max-content;
    display: inline-block;
    transform: rotate(45deg);
}

.padding {
    padding-right: var(--padding);
}

/*----------------------------------------
Project
----------------------------------------*/

.section,
.figure {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: var(--padding);
}

.section {
    display: grid;
    grid-template-columns: var(--three-column);
    padding-top: var(--padding);
}

.figcaption {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: var(--figcaption-column);
    grid-auto-rows: minmax(var(--row-height), auto);
    padding-bottom: var(--figcaption-padding);
}

.materials {
    padding-right: var(--materials-padding);
    grid-column: var(--materials-span);
}

.count,
.year  {
    justify-self: var(--justify);
}

/*----------------------------------------
Images
----------------------------------------*/

.image {
    width: 100%;
    display: grid;
    grid-template-columns: var(--image-column);
}

.small {
    grid-column: 1 / 3;
    margin-right: var(--image-padding);
}

.large {
    grid-column: 1 / 4;
    margin-right: var(--image-padding);
}

.portrait {
    grid-column: 1 / 2;
}
