/*----------------------------------------
Slider
----------------------------------------*/

.section {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: var(--padding);
    display: grid;
    grid-template-columns: var(--slider-column);
    padding-top: var(--padding);
}

.slider {
    position: relative;
    padding-top: 66%;
    margin-right: var(--image-padding);
}

.sliderContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fafafa;
}

.expand {
    width: max-content;
    cursor: crosshair;
    margin-top: var(--expand-padding);
}

.padding {
    padding-right: var(--padding);
}

.cross {
    display: inline-block;
}

.textContainer {
    overflow: hidden;
}

/* .text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
} */

.text > p {
    margin-top: var(--row-height);
    margin-bottom: 0;
}

.text > p:first-child {
    margin-top: var(--description-padding);
}